
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>welcome</title>
   <style>
       body{
           background: 	#E6E6FA;
      }
       div{
           text-align: center;
           padding-top: 50px;
      }
       h1{
           font-size: 50px;
           color: blue;
           text-align: center;
           padding-top: 50px;
      }
       button {
           width: 300px;
           height: 45px;
           font-size: 20px;
           color: brown;/*字体颜色*/
           border-color: #87CEFA;/*边框颜色*/
           border-radius: 20px;}/*圆角矩形*/

   </style>
</head>
<body>
<h1>欢迎进入学生管理系统</h1>
<div>
   <a href="http://127.0.0.1:8000/add/">
       <button type="submit">增加学生信息</button><br><br>
   </a>
   <a href="http://127.0.0.1:8000/delete/">
       <button type="submit">删除学生信息</button><br><br>
   </a>
   <a href="http://127.0.0.1:8000/update/">
       <button type="submit">修改学生信息</button><br><br>
   </a>
   <a href="http://127.0.0.1:8000/sort/">
       <button type="submit">对学生成绩进行排序</button><br><br>
   </a>
   <a href="http://127.0.0.1:8000/Inquire/"> <button type="submit">查询所有学生信息</button><br><br></a>
   <a href="http://127.0.0.1:8000/login/"> <button type="submit">退出登录</button><br><br></a>
    </div>
</body>
</html>
